.news .post-image{
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  display: block;
  background-color: #f1f5f7;
  object-fit: cover;
}
.news .post-text{
  text-align: justify;
}
.logo{
  background:linear-gradient(to left , red , rgb(15, 204, 15) , rgb(5, 104, 216));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
}
a.post-link{
  width: 140px;
}
#hero{
 background-image:linear-gradient(#4070f0 , #ffffff99) , url('');
  background-size: cover;

}